.listItem {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.listBtn {
  align-self: center;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #b83b5e;
  background-color: #e9e9e9;
  width: 80px;
  height: 40px;
  border: 0;
  box-shadow: -6px -6px 9px #fff, 11px 11px 21px -8px #000;
  cursor: pointer;
  outline: 0;
}

.listBtn:hover,
.listBtn:focus {
  background-color: #d6d6d6;
}
